


@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-BoldItalic.woff2') format('woff2'),
        url('fonts/OpenSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-ExtraBold.woff2') format('woff2'),
        url('fonts/OpenSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
        url('fonts/OpenSans-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Medium.woff2') format('woff2'),
        url('fonts/OpenSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-MediumItalic.woff2') format('woff2'),
        url('fonts/OpenSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.woff2') format('woff2'),
        url('fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Bold.woff2') format('woff2'),
        url('fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Italic.woff2') format('woff2'),
        url('fonts/OpenSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/OpenSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.career-landingPage{
    background-color: #F1F0EE;
}

.career-container{
    width: 100%;
    background-color: #F1F0EE;
}

.career-container img{
    /* margin-top: 5%; */
    max-width: 100%;
}
@keyframes dhoos{
    0%{
        opacity: 0;
    }
    33%{
        opacity: 0.25;
    }
    66.7%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}


.join_defaults{
        background-color: #fff;
    }
    
.default-text{
    margin-top: 5%;
    display: flex;
    align-items: center;
    padding: 0 0 0 50px;
}
.default-text .left-default{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.default-text .left-default h2{
    color: rgb(23,40,82);
    display: inline-block;
    width: 70%;
    font-family: "Open Sans", verdana, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: left;

line-height: 2.7rem;
}
.default-text .left-default p{
    text-align: left;
    color: rgb(19, 19, 19);
    margin-top: 1rem;
    font-size: 1.3rem;
    width: 85%;
}
.default-button {
    display: flex;
    margin-top: 2rem;
    height: auto;
    width: fit-content;
}

.default-button a{
    padding: 5px 20px;
    
}
.join_defaults .default-text .left-default a{
    font-family: "Open Sans", verdana, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    text-decoration: none;
    background-color: rgb(23,40,82);
    border: rgb(23,40,82) 2px solid;

    color:#fff ;
    
}

.left-default button{
    height: auto;
    width: auto;
}
.join_defaults .default-text .left-default a:hover{
    color: rgb(23,40,82);
    background-color: #fff;
    transition: ease all 0.5s;
    border: rgb(23,40,82) 2px solid;


}
.default-text .right-default{
    display: flex;
    width: 50%;
    height: 100%;  
  
}
.default-text .right-default img{
    width:100%;
    height: 100%;
    margin: 0;
    margin-bottom: 0;
    object-fit: cover;
 
}
.container-default{
    padding: 3% 0;
}

.sec-default{
    padding: 60px 50px;
    margin-top: 5%;
    text-align: left;
    background-color: rgb(23,40,82);
}
.container-default .container_text_default h3{
    font-family: "Open Sans", verdana, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #fff;
    font-weight: 700;
}

.container-default .container_text_default .data-default{
    font-family: "Open Sans", verdana, Helvetica, sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 1.2rem;
    margin-top: 15px;
}

/* ///////////form//////////////// */

.apply-cv{
    height:auto;
    padding:20px 10px;
    background-color:  #ffffff;
}

.apply-cv h2 {
    font-family: "Open Sans", verdana, Helvetica, sans-serif;
    color:  rgb(23,40,82);
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.3rem;
 

}

.apply-cv h3 {
    font-family: "Open Sans", verdana, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.3rem;
    border: 1px solid #555;
    padding: 3px;
    border-radius: 3px;
    background-color: rgb(23,40,82);
    color: #fff;
}

.apply-cv form {
    font-family: "Open Sans", verdana, Helvetica, sans-serif;
    font-size: 1.5rem;
    max-width: 900px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1),
    -10px -10px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

 .apply-cv label {
    display: block;
    margin: 14px 0px -15px 0px;
    color: #555;
    line-height: 2px;
}


.apply-cv input,
.apply-cv select {
    width: 100%;
    padding: 12px;
    font-family: "Open Sans", verdana, Helvetica, sans-serif;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.apply-cv select {
    appearance: none;
}

.apply-cv input[type="file"] {
    padding: 10px;
    font-family: "Open Sans", verdana, Helvetica, sans-serif;
}

.apply-cv .button {
    color: #ffffff;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-family: "Open Sans", verdana, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 8px 30px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgb(23,40,82);
    background-color: rgb(23,40,82);
}
#upload{
    font-family: "Open Sans", verdana, Helvetica, sans-serif;
    font-size: 1.2rem;
font-weight: 600;
}


/* span {
    color: rgb(23,40,82);
} */

.Country-code{
    background-color: #E9E9E9;
    padding: .65rem 0 .65rem 1rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #DBDBDB;
}

@media (max-width: 768px) {
    form {
        width: 90%;
    }
    .career-promo h5{
        padding: 10px 90px;
    }
 
    .default-text{
        padding: 2rem;
        display: flex;

    }
    .default-text .left-default{
        display: flex;
        flex-direction: column;
        /* width: 50%; */
        width: 100%;


    }
    .default-text .left-default a{
        display: inline-block;
        text-align: left;
    }
    .default-text .left-default h2{
        font-family: "Open Sans", verdana, Helvetica, sans-serif;
        font-size: 1.2rem;
        text-align: left;
        line-height: 1.3rem;
    }
    .default-text .left-default p{
        font-family: "Open Sans", verdana, Helvetica, sans-serif;
        font-size: 1rem;
        text-align: left;
        line-height: 1.3rem;
   
    
    }
    .default-text .right-default {
        height:100%;
        width:100%;
    }
    .default-text .right-default img{
        width:100%;
        height: 100%;
    }
 
    #upload{
        font-size: 0.7rem;
        
    }
}
@media (max-width: 520px){
  
    .career-promo h3{
        font-family: "Open Sans", verdana, Helvetica, sans-serif;
        font-size: 1rem;
        padding: 5px 0;
        margin: 30px 0px 10px;
    }
    .career-promo h2{
        font-family: "Open Sans", verdana, Helvetica, sans-serif;
        font-size: 1rem;
        margin: 0;
    }
    .career-promo h5{
        font-size: 1.2rem;
        margin: 5px 0;
        padding: 5px 10px;
    }
  
    .default-text{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        /* padding: 10px; */


    }
    .default-text .left-default{

        display: flex;
        flex-direction: column;
        text-align: left;
        width: 100%;
         margin-top:90px;
         /* padding:50px; */


        
    }
    .default-text .left-default h2{
        font-family: "Open Sans", verdana, Helvetica, sans-serif;
        font-size: 1.2rem;
        text-align: left;

    }
    .default-text .left-default p{
        text-align: left;
        font-family: "Open Sans", verdana, Helvetica, sans-serif;
        width: 95%;
        font-size: 1rem;
   
    }
    .default-text .left-default .default-button{
        margin-top: 15px;
        text-align: left;
        font-family: "Open Sans", verdana, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 0.5rem;
        padding: 4px 8px;
        margin-left: -10px;
    }
    .default-text .left-default .default-button a{
        font-family: "Open Sans", verdana, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 0.9rem;
        padding: 4px 8px;
        text-align: left;
    }
    .default-text .right-default{
        margin-top: 30px;
        width: 100%;
       


    }
    .default-text .right-default img{
        width: 100%;
    }

   .career-landingPage{
    height: 20vh;
    background-color: #F1F0EE;
   }
    .career-container{
        width: 100%;
        background-color: #F1F0EE;
    }
    
    .career-container img{
        margin-top: 10%;
        max-width: 100%;
    }
}
@media (max-width: 420px){
    .default-text{
       width:100%;


    }
    .default-text .left-default{
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 100%;
       margin-top:60px;
    }
 

}



/* contact number  country code css */
:root {
    --primary:rgb(23,40,82);
    --secondary: #fd0;
}	

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {    
    font-family: sans-serif;
    background-color: var(--secondary);
} */

.select-box {
    position: relative;
    width:100%;

    /* width: 26rem;
    margin: 7rem auto; */
}

.selected-option {
    background-color: #ffffff;
    border-radius: .5rem;
    overflow: hidden;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.selected-option div{
    position: relative;
    width: 7rem;
    display:flex;
    /* margin:auto; */
    margin-left:10px;
    /* align-items: center; */
    /* justify-content: center; */
    /* padding: 0 2.8rem 0 .5rem; */
    text-align: center;
    cursor: pointer;
}

.selected-option div::after{
    position: absolute;
    content: "";
    /* right: -.9rem; */
    right: 0.1rem;

    top: 45%;
    margin-left:15px;
    transform: translateY(-50%) rotate(45deg);
    width: .5rem;
    height: .5rem;
    border-right: .10rem solid #E9E9E9;
    border-bottom: .10rem solid #E9E9E9;
    transition: .2s;
}
.selected-option div .code{
    font-size: 14px;
}
 /* #code{
    margin-right: 2rem;/
    margin-left: 0.5rem;
}  */
.options input::placeholder{
    color:#fff;
}

.selected-option div.active::after{
    transform: translateY(-50%) rotate(225deg);
}

.select-box .options {
    position: absolute;
    top: 4rem;
    
    width: 100%;
    background-color: #fff;
    border-radius: .5rem;
   display: none;
}

.select-box .options.active {
    display: block;
}

.select-box .options::before {
    position: absolute;
    content: "";
    left: 1rem;
    top: -1.2rem;

    width: 0;
    height: 0;
    border: .6rem solid transparent;
    border-bottom-color: #eee;
}

input.search-box {
    background-color: var(--primary);
    color: #fff;
    border-radius: .5rem .5rem 0 0;
    /* padding: 1.4rem 1rem; */
}

.select-box ol {
    list-style: none;
    max-height: 20rem;
    overflow: overlay;
}

.select-box ol::-webkit-scrollbar {
    width: 0.6rem;
}

.select-box ol::-webkit-scrollbar-thumb {
    width: 0.4rem;
    height: 3rem;
    background-color: #ccc;
    border-radius: .4rem;
}

.select-box ol li {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    /* font-size:1.5rem; */
    font-size: 16px;
}

.select-box ol li.hide {
    display: none;
}

.select-box ol li:not(:last-child) {
    border-bottom: .1rem solid #eee;
}

.select-box ol li:hover {
    background-color: lightcyan;
}

.select-box ol li .country-name {
    margin-left: .4rem;
}
